# file options

--exclude .build

# rules
--disable redundantReturn, preferKeyPath, void
--rules indent, braces, consecutiveBlankLines, consecutiveSpaces, blankLinesAroundMark, blankLinesAtEndOfScope, blankLinesAtStartOfScope, blankLinesBetweenScopes, spaceAroundBraces, spaceAroundBrackets, spaceAroundComments, spaceAroundGenerics, spaceAroundOperators, spaceAroundParens, spaceInsideBraces, spaceInsideBrackets, spaceInsideComments, spaceInsideGenerics, spaceInsideParens, trailingSpace, emptyBraces

# format options

--ifdef no-indent
--nospaceoperators ...,..<
--patternlet inline
--self init-only
--stripunusedargs unnamed-only

#--maxwidth 150
#--wraparguments before-first
#--wrapparameters before-first
#--wrapcollections before-first
