# Minimum swiftformat version
--minversion 0.53.10

# Swift version
--swiftversion 6.0

# file options
--exclude .build

# rules
--disable redundantReturn, extensionAccessControl, typeSugar, conditionalAssignment, preferForLoop, redundantInternal, redundantStaticSelf

# format options
--ifdef no-indent
--nospaceoperators ...,..<
--patternlet inline
--self insert
--stripunusedargs unnamed-only

#--maxwidth 150
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
