# Minimum version
--minversion 0.45.3

# file options
--exclude .build

# rules
--disable redundantReturn, void

# format options
--ifdef no-indent
--nospaceoperators ...,..<
--patternlet inline
--self init-only
--stripunusedargs unnamed-only

#--maxwidth 150
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
