name: Benchmark

on:
  pull_request:
  workflow_dispatch:

jobs:
  macos:
    runs-on: macOS-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
    - name: Benchmark
      run: |
        cd Benchmark
        swift run -c release

  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        swift: ["5.4", "5.5", "5.6"]
    steps:
    - name: Install Swift
      uses: swift-actions/setup-swift@v1
      with:
        swift-version: ${{ matrix.swift }}
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Benchmark
      run: |
        cd Benchmark
        swift run -c release
