name: Benchmark

on:
  pull_request:
  workflow_dispatch:

jobs:
  macos:
    runs-on: macOS-latest
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 1
    - name: Benchmark
      run: |
        cd Benchmark
        swift run -c release

  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        image:
          - 'swift:latest'
    container:
      image: ${{ matrix.image }}
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Benchmark
      run: |
        cd Benchmark
        swift run -c release
