name: CI

on:
  push:
    branches:
    - main
    - 6.x.x
  pull_request:
  release:
    types: [published]
  workflow_dispatch:

env:
  ENABLE_TIMING_TESTS: "false"
  AWS_LOG_LEVEL: "trace"
  SOTO_CORE_STRICT_CONCURRENCY: "true"

jobs:
  macos:
    name: macOS unit tests
    runs-on: macOS-latest
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: SPM tests
      run: |
        swift --version
        swift test --enable-code-coverage --parallel
    - name: Convert coverage files
      run: |
        xcrun llvm-cov export -format "lcov" \
          .build/debug/soto-corePackageTests.xctest/Contents/MacOs/soto-corePackageTests \
          -ignore-filename-regex="\/Tests\/" \
          -instr-profile=.build/debug/codecov/default.profdata > info.lcov
    - name: Upload to codecov.io
      uses: codecov/codecov-action@v4
      with:
        files: info.lcov
        token: ${{ secrets.CODECOV_TOKEN }}

  ios:
    name: iOS Build
    runs-on: macos-latest
    timeout-minutes: 15
    steps:
    - name: Select appropriate Xcode version
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable
    - name: Checkout
      uses: actions/checkout@v6
    - name: Xcodebuild
      run: |
        xcodebuild build -scheme soto-core -destination 'platform=iOS Simulator,name=iPhone 17'

  linux:
    name: Linux unit tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        image:
          - 'swift:6.0'
          - 'swift:6.1'
          - 'swift:6.2'
    container:
      image: ${{ matrix.image }}
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Test
      run: |
        swift --version
        swift test --enable-code-coverage
    - name: Convert coverage files
      run: |
        llvm-cov export -format="lcov" \
          .build/debug/soto-corePackageTests.xctest \
          -ignore-filename-regex="\/Tests\/" \
          -instr-profile .build/debug/codecov/default.profdata > info.lcov
    - name: Upload to codecov.io
      uses: codecov/codecov-action@v4
      with:
        files: info.lcov
        token: ${{ secrets.CODECOV_TOKEN }}

  android:
    name: Android build
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6
      - name: "Build for Android"
        uses: skiptools/swift-android-action@v2
        with:
          build-tests: true
          run-tests: false
