name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  release:
    types: [published]
  workflow_dispatch:

env:
  ENABLE_TIMING_TESTS: "false"
  AWS_LOG_LEVEL: "trace"

jobs:
  macos:
    runs-on: macOS-latest
    strategy:
      matrix:
        swift: ["5.4", "5.5", "5.6"]
    steps:
    - name: Install Swift
      uses: swift-actions/setup-swift@v1
      with:
        swift-version: ${{ matrix.swift }}
    - name: Checkout
      uses: actions/checkout@v2
    - name: SPM tests
      run: swift test --enable-code-coverage --parallel
    - name: Convert coverage files
      run: |
        xcrun llvm-cov export -format "lcov" \
          .build/debug/soto-corePackageTests.xctest/Contents/MacOs/soto-corePackageTests \
          -ignore-filename-regex="\/Tests\/" \
          -instr-profile=.build/debug/codecov/default.profdata > info.lcov
    - name: Upload to codecov.io
      uses: codecov/codecov-action@v1
      with:
        file: info.lcov

#  ios:
#    runs-on: macOS-latest
#    steps:
#    - name: Checkout
#      uses: actions/checkout@v2
#      run: |
#    - name: Xcodebuild
#        xcodebuild -scheme soto-core-Package -quiet -destination 'platform=iOS Simulator,name=iPhone 12'
#        xcodebuild test -scheme soto-core-Package -destination 'platform=iOS Simulator,name=iPhone 12'

  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        swift: ["5.4", "5.5", "5.6"]
    steps:
    - name: Install Swift
      uses: swift-actions/setup-swift@v1
      with:
        swift-version: ${{ matrix.swift }}
    - name: Checkout
      uses: actions/checkout@v3
    - name: Test
      run: |
        swift --version
        swift test --enable-code-coverage --parallel
    - name: Set code coverage path
      run: echo "codecov_path=$(swift test --show-codecov-path)" >> $GITHUB_ENV
    - name: Convert coverage files
      run: |
        llvm-cov export -format="lcov" \
          .build/debug/soto-corePackageTests.xctest \
          -ignore-filename-regex="\/Tests\/" \
          -instr-profile .build/debug/codecov/default.profdata > info.lcov
    - name: Upload to codecov.io
      uses: codecov/codecov-action@v1
      with:
        file: info.lcov
