name: Swift nightly build

on:
  schedule:
    - cron: '0 1 * * 0'
  workflow_dispatch:
  
env:
  AWS_ENABLE_LOGGING : "true"

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag: ['nightly-focal', 'nightly-jammy', 'nightly-amazonlinux2']
    container:
      image: swiftlang/swift:${{ matrix.tag }}
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Test
      run: swift test --enable-test-discovery
