name: Validity Check

on:
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 1
    - name: run script
      run: ./scripts/validate.sh
